.profileBlock_posts {
  width: 100%;
}

.createPost {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 50px;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }
  
  .createPostImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .textArea {
    border: none;
    margin: 0 15px;
    width: 100%;
  }
  
  .textArea:focus {
    border: none;
    outline: none;
  }
  
  .submit {
    box-shadow: none;
    border: none;
    outline: none;
    background-color: #577ca1;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #6391c0cc;
  }
  
  .submit:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }
  
  .submit:active {
    box-shadow: 1px 2px 0 #315375cc;
    outline: none;
    border: none;
  }