.header {
    background-color: #577ca1;
    padding: 10px 0;
    margin-bottom: 15px;
    width: 100vw
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.authBlock a {
    color: #fff;
    text-decoration: none;
}