.block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    margin-right: 15px;
    padding: 5px;
}

.picBlock {
    height: 240px;
    width: 180px;
}

.pic {
    height: 240px;
    width: 180px;
}

